@model IEnumerable<ConsultorioMedAPP.Models.Doctor>

@{
    ViewData["Title"] = "Lista de Doctores";
}

<h1>Lista de Doctores</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Crear Nuevo Doctor</a>
</p>

<table class="table table-striped table-bordered">
    <thead class="table-success">
        <tr>
            <th>Nombre</th>
            <th>Primer Apellido</th>
            <th>Segundo Apellido</th>
            <th>Especialidad</th>
            <th>Activo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdCedulaNavigation.Nombre</td>
                <td>@item.IdCedulaNavigation.Apellido1</td>
                <td>@item.IdCedulaNavigation.Apellido2</td>
                <td>@item.IdEspecialidadNavigation.Descripcion</td>
                <td>@(item.Activo == true ? "Sí" : "No")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdCedula" class="btn btn-primary btn-sm">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.IdCedula" class="btn btn-info btn-sm">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.IdCedula" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

