@model IEnumerable<ConsultorioMedAPP.Models.Seguro>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCedulaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoSeguroNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCedulaNavigation.IdCedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoSeguroNavigation.IdTipoSeguro)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdSeguro">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdSeguro">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdSeguro">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
